*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #eee;
}

.graphs {
  display: grid;
  grid-template: "a";
  background-color: white;
  width: 300px;
  height: 100px;
  place-content: stretch;
  place-items: stretch;
}
.graphs > .graph {
  grid-area: a;
}